<div id="openings-wrapper" class="parallax-wrapper">
    <div class="project-header">
        <div class="parallax-image-header parallax-image"></div>
        <div class="project-header__title">
            <h1>Open Positions</h1>
        </div>
    </div>
    <div class="project-intro dark">
        <h1>These are the roles we are looking to fill</h1>
        <p>If interested, please reach out to the listed point of contact or follow the link to apply.</p>
    </div>
    <div class="parallax-image-header__follow parallax-image"></div>
    <div class="project-description light">
        <div class="job-search-container">
            <div class="job-search-header">
                <h2>Positions</h2>
                <!-- <div class="filter-container"> -->
                    <div class="select-div" style="width:200px;">
                        <select name="Project">
                            <option value="all">All</option>
                            <option value="reach">Reach</option>
                            <option value="rapid">Rapid</option>
                            <option value="overseer">Overseer</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <!-- <div class="clear-filter" id="clear">&times;</div> -->
                <!-- </div> -->
            </div>
            <div class="job-card-container">
                {{#each jobs}}
                    <div id="job-{{@index}}" class="job-card">
                        <div class="job-card-header">
                            <h2>{{title}}</h2>
                            <div class="tags">
                                {{#each tags}}
                                    <div style="background-color:{{color}}"><p>{{text}}</p></div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="job-card-content">
                            <p>{{description}}</p>
                        </div>
                    </div>
                    <div id="job-{{@index}}-modal" class="job-card-modal">
                        <div class="job-card-header">
                            <h2>{{title}}</h2>
                            <div class="tags">
                                {{#each tags}}
                                    <div style="background-color:{{color}}"><p>{{text}}</p></div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="job-card-content">
                            <p>{{description}}</p>
                            {{#if required-skills}}
                                <div class="job-card-required-skills">
                                    <h3>Required Skills</h3>
                                    <ul>
                                        {{#each required-skills}}
                                            <li>{{skill}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}
                            {{#if required-skills}}
                                <div class="job-card-reccomended-skills">
                                    <h3>Recommended Skills (or skills you will learn)</h3>
                                    <ul>
                                        {{#each recommended-skills}}
                                            <li>{{skill}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}
                            {{#if link}}
                                <div class="job-card-link">
                                    <a href="{{link}}">{{linkText}}</a>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
