<div id="{{project}}-wrapper" class="parallax-wrapper">
	<div class="project-header">
		<div class="parallax-image-header parallax-image"></div>
		<div class="project-header__title">
			<h1>{{project}}</h1>
		</div>
	</div>
	<div class="project-intro dark">
		<h1>{{project_title}}</h1>
		<p>{{project_subtitle}}</p>
	</div>
	<div class="parallax-image-header__follow parallax-image"></div>
	<div class="project-description dark">
		<h1 class="title">The Project</h1>
		<div class="project-description__content">
			<div class="image-container">
				<img src="{{logo}}">
			</div>
			<p class="paragraph-container">
				{{project_description}}
			</p>
		</div>
	</div>
	<div class="team-description light">
		<h1 class="title">The Team</h1>
		<div class="team-description__content">
			<div class="image-container">
				<img src="{{team_photo}}">
			</div>
			<div class="pm-bio paragraph-container">
				<h2>Project Manager</h2>
				<p>{{pm.name}}</p>
				<p>{{pm.major}}, {{pm.year}}</p>
				<a href="mailto:{{pm.email}}">{{pm.email}}</a>
			</div>
		</div>
	</div>
	{{#if mission}}
	<div class="mission-wrapper" id="{{mission.title}}">
		<div class="title">
			<h1>{{mission.title}}</h1>
			<p>{{mission.subtitle}}</p>
		</div>
		<div class="mission-description">
			<p class="paragraph-container">
				{{{mission.description}}}
			</p>
		</div>
		<div class="scrollable-content">
			<div class="scrollable-content__textboxes">
				{{#each mission.scrollables}}
					<div id="mission{{@index}}" class="scrollable-content__textbox" data-image="{{@index}}">
						<h2>{{title}}</h2>
						<p>
							{{description}}
						</p>
					</div>
				{{/each}}
			</div>
			<div class="scrollable-content__images">
				{{#each mission.scrollables}}
					<img id="mission{{@index}}_image" data-image="{{@index}}" src="{{picture}}">
				{{/each}}
			</div>
			<script type="text/javascript" src="{{missionWidgetJS}}"></script>
		</div>
	</div>
	{{/if}}
	{{#if past_work}}
		<div class="past-projects dark">
			<h1 class="title">Past Work</h1>
			<div class="past-projects__content">
				{{#each past_work}}
					<div class="text-image__container light {{#if_even @index}}text-left{{else}}text-right{{/if_even}}">
				    <h1 class="title">{{title}}</h1>
				    <div class="text-image {{#if_even @index}}image-left{{else}}image-right{{/if_even}}">
				      <img src="{{picture}}">
				      <div class="paragraph-container">
				        {{description}}
				      </div>
				    </div>
				  </div>
				{{/each}}
			</div>
		</div>
	{{/if}}
	{{#if project_timeline}}
		<h1>Project Timeline</h1>
		<ul class="timeline light">
			{{#each project_timeline}}
				<li {{#if_even @index}}{{else}}class="timeline-inverted"{{/if_even}}>
					<div class="timeline-badge"><i class="glyphicon"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
              <h4 class="timeline-title">{{title}}</h4>
						</div>
						<ul class="timeline-body">
							{{#each items}}
								<li>{{item}}</li>
							{{/each}}
						</ul>
					</div>
				</li>
			{{/each}}
		</ul>
	{{/if}}
	<div class="parallax-image-2 parallax-image"></div>
</div>
