<div class="video">
  <div style="position:relative;height:100%;z-index:-1">
    <!--
    <iframe width="100%" src="https://www.youtube.com/embed/QGWQyhOfZBY?autoplay=1;rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe>
    -->
    <!--
    <iframe width="100%" src="https://www.youtube.com/embed/OGKqUmk_g-0?autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;mute=1&amp;loop=1&playlist=OGKqUmk_g-0" frameborder="0" allow="autoplay; encrypted-media" style="width:100%;" allowfullscreen></iframe>
    -->
    <video width="100%" autoplay muted loop>
      <source src="{{video-link}}" type="video/mp4">
      HTML video is not supported by your browser.
    </video>

  </div>
  <div class="caption__container">
    <div class="caption">
      <h1>Welcome</h1>
      <h3>to Bruin Spacecraft Group</h3>
    </div>
  </div>
  <div class="scrollDown" onclick="scrollDown()">
    <h3>Scroll Down</h3>
    <svg class="arrows">
      <path class="a1" d="M0 0 L30 20 L60 0"></path>
      <path class="a2" d="M0 15 L30 35 L60 15"></path>
      <path class="a3" d="M0 30 L30 50 L60 30"></path>
    </svg>
  </div>
  <script>
    function scrollDown(){
      console.log("HELP")
      $("html, body").animate({
        scrollTop: $('#mission').offset().top}, 1000)
    }
  </script>
</div>

<div class="main-content-wrapper">
  <div id="mission" class="paragraph-container light">
    <h1>Our Mission</h1>
    <p>Bruin Spacecraft Group was founded with the intent of providing a creative and supportive environment for space mission design and development at UCLA.
    Here, students of all backgrounds can come together, united by a passion for space, to do something amazing.
    Here, we aim to give students the opportunity to acquire the skills necessary to become leaders in the space industry.</p>
  </div>
  <!-- NOT READY
  <div class="carousel-wrapper">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators >
      <ul class="carousel-indicators">
        {{#each slides}}
          <li data-target="#myCarousel" data-slide-to="{{@index}}" {{#if active}}class="active"{{/if}}></li>
        {{/each}}
      </ul>
      <!-- Slides TODO: add img alts?>
      <div class="carousel-inner">
      {{#each slides}}
        <div class="carousel-item {{active}}">
          <img src="{{image}}">
          <div class="carousel-caption">
            <h2>{{title}}</h2>
            <a href="{{link}}"><h3>{{subtitle}}</h3></a>
          </div>
        </div>
      {{/each}}
      </div>
      <!-- Left and right controls >
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div> -->

  <div id="whatWeDo" class="dark">
    <h1 class="title">What We Do</h1>
    <div class="flex-container">
      {{#each cards}}
      <a class="card" href="{{link}}">
        <img src="{{image}}">
        <div class="card-container">
          <img src="{{logo}}"></img>
          <h3>{{title}}</h3>
          <p>{{subtitle}}</p>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
  <div id="join" class="paragraph-container light">
    <h1>How to Join</h1>
    <p>
      Bruin Spacecraft Group is open to any and all majors and minors. All we ask is you come with a passion for space!
    </p>
    <p>
      You don't need to be an engineer to be on a project, and you don't need to study economics to join the finance team.
    </p>
    <p>
      If you want to join us here at Bruin Space, check out the <a href="{{join}}">Join</a> page for more information.
    </p>
  </div>
</div>
