<div id="team-wrapper" class="parallax-wrapper">
  <div class="project-header">
    <div class="parallax-image-header parallax-image"></div>
    <div class="project-header__title">
      <h1>Join the Team</h1>
    </div>
  </div>
  <div class="project-intro dark">
    <h1>Learn how you can get involved</h1>
    <p>Scientist or artist, policy-maker or engineer, our only requirement is a passion for space.</p>
  </div>
  <div class="parallax-image-header__follow parallax-image"></div>
  <div class="text-image__container light text-left">
    <h1 class="title">Find your Place</h1>
    <div class="text-image image-left">
      <img src="{{yourPlace}}">
      <div class="paragraph-container">
        <p>There are many opportunities at Bruin Space, ranging from science and engineering to finance, art, and public relations.</p>
        <ul>
          <li>For those interested in spacecraft engineering, consider joining {{{overseer}}}, {{{reach}}}, {{{rapid}}} or {{{sandbox}}}.</li>
          <li>To explore space science, check out {{{endeavour}}}.</li>
          <li>If you want to develop industry contacts, handle corporate relations, and public outreach efforts, consider our {{{externalAffairs}}} team.</li>
          <li>For experience managing accounts and applying for funds, join the {{{finance}}} team.</li>
          <li>If you are looking for a way to express your passion for space through art or share your excitement with the world, check out our {{{marketing}}} team.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-image__container dark">
    <h1 class="title">How to Join</h1>
    <div class="text-image">
      <img src="{{join}}">
      <div class="paragraph-container">
        <p>Here are a few things you need to do to get started:</p>
        <ul>
          <li>Join our <a href="#slack">slack</a> team, and consider downloading <a href="https://slack.com/downloads/">the app</a>. Slack's a pretty big deal here!</li>
          <li>Join our <a href="#mc_embed_signup">mailing list</a>, for biweekly updates and opportunities.</li>
          <li>Complete <a href="https://worksafe.ucla.edu/UCLA/Programs/Standard/Control/elmLearner.wml?portalid=Learnerweb">lab safety training</a> through UCLA's EH&amp;S department.</li>
          <li>Attend a meeting!
            <ul><li>General meetings are a perfect introduction to the organization as a whole, but we encourage you to attend a project meeting and get a firsthand look at what it is we do.</li>
            <li>For a schedule of all Bruin Space meetings, check out our {{{calendar}}}.</li></ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-image__container light">
    <h1 class="title" id="slack">Slack</h1>
    <div class="text-image image-left">
      <img src="{{slack}}">
      <div class="paragraph-container">
        <p>
          <a href="https://slack.com">Slack</a> is a communication platform built for teams.
          Channels allow information to be exchanged with those it impacts the most.
          You'll automatically be added to <code>#bruinspace</code>, where all official, group-wide communication happens, and <code>#deorbit</code>, where we share space news, organize social events and stuff!
        </p>
        <p>
          Our slack domain, <a href="https://bruinspace.slack.com">bruinspace.slack.com</a>, is accessible to anyone with a UCLA email. If you don't have a UCLA email, just message us on <a href="https://www.facebook.com/uclaBruinSpace/">Facebook</a> or shoot us an <a href="mailto:uclaBruinSpace@gmail.com">email</a> and we'll get you set up!
        </p>
      </div>
    </div>
  </div>
</div>
