<div id="team-wrapper" class="parallax-wrapper">
  <div class="project-header">
    <div class="parallax-image-header parallax-image"></div>
    <div class="project-header__title">
      <h1>Our Team</h1>
    </div>
  </div>
  <div class="project-intro dark">
    <h1>Who makes up Bruin Space?</h1>
    <p>It takes all backgrounds to build a spacecraft, and with over 60 members, we've got a wide variety.</p>
  </div>
  <div class="parallax-image-header__follow parallax-image"></div>
  <div class="project-description light">
    <h1 class="title">The Officers</h1>
    <div class="project-description__content">
      <!--<img src="{{officersPhoto}}">-->
      <p class="paragraph-container">
        Bruin Space is run by a board of five officers: President, Interal Vice President, External Vice President, Vice President of Marketing, and Vice President of Finance.
      </p>
    </div>
    <div class="officer-cards__container">
      {{#each officers}}
        <div class="officer-card dark">
          <div class="card-cover">
            <img src="{{picture}}"></img>
            <div class="card-caption">
              <h3>{{name}}</h3>
              <p>{{position}}</p>
            </div>
          </div>
          <div class="card-detail hidden">
            <h2>About Me</h2>
            <div class="officer-about">
              {{{about}}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <!--
  <div class="team-wrapper">
    <div class="title">
      <h1>The Projects</h1>
      <p>A quick look at the teams</p>
    </div>
    {{#each teams}}
      <h1>PROJECT</h1>
    {{/each}}
  </div>
  <div class="parallax-image-2 parallax-image"></div>
  -->
</div>
